/laskarit/viikko2/unicafe/.pytest_cache
/laskarit/viikko2/unicafe/__pycache__
/laskarit/viikko2/unicafe/src/__pycache__/
/laskarit/viikko2/unicafe/src/tests/__pycache__/
/laskarit/viikko2/unicafe/htmlcov
/laskarit/viikko2/unicafe/.coverage
/src/__pycache__/
/src/tests/__pycache__/
/src/tetr3s.code-workspace
/src/htmlcov

database.db
.coverage
.pytest_cache/
htmlcov
__pycache__/
*.py[cod]
*$py.class
.coverage.*

